.details_form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}
.details_form{
    display: flex;
    flex-direction: column;
}
.form_title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.radio_container{
    border-bottom: 1px solid var(--custom-brown);
    margin-bottom: 1rem;
}
